.speech
{
    color:black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}
.direction
{
    color:black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    background-color:bisque;
}
.direction:hover
{
    background-color:lightskyblue;
    color: grey;
}
.mrsx
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:mediumblue;   
}
.missy
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:orangered;  
}
.mrsx:hover 
{
    text-shadow: 2px 2px;
    filter: blur(0.2px);
    background-color: rgb(247, 224, 252);
    color: rgb(33, 11, 11);
    border-style: double;
    border-left: 10px solid rgb(109, 47, 44);
 }
.missy:hover 
{
    text-shadow: 2px 2px;
    filter: blur(0.2px);
    background-color: rgb(175, 215, 150);
    color: rgb(0, 148, 239);
    border-style: double;
    border-left: 10px solid rgb(0, 225, 255);
}
table 
{
    border:solid;
    color:rgb(89, 0, 255);
    border-style:solid;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    height: 100%;
    width: 50%;
    margin: 100px 13em 15pt 10%;
    padding:10px;
} 
th
{
    border: solid 1px;
    text-align: center;
    padding: 8px;
    color:black;
} 
td
{
    border: solid 1px;
    text-align: center;
    padding: 8px;
    color:mediumvioletred;
}  
tr:nth-child(even) 
{
    background-color: #dddddd;
}
ul.navbar-horizontal 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.navbar-horizontal li 
{
    float:left; 
    color:#000;
    background-color: #00ccff
}
ul.navbar-horizontal a 
{
    display:block;
    padding:8px
}
ul.navbar-horizontal a:hover 
{  
    background-color: #3b7381;
    color:white;
}
