.speech
{
    color:black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}
.direction
{
    color:black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    background-color:bisque;
}
.direction:hover
{
    background-color:lightskyblue;
    color: grey;
}
.mrsx
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:mediumblue;   
}
.missy
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:orangered;  
}
.mrsx:hover 
{
    background-color: rgb(212, 0, 255);
    color: rgb(255, 0, 0);
    border-style: double;
    border-left: 10px solid rgb(110, 40, 36);
 }
.missy:hover 
{
    background-color: rgb(98, 255, 0);
    color: rgb(0, 148, 239);
    border-style: double;
    border-left: 10px solid rgb(0, 225, 255);
}